.article-block__grid {
    display: flex;
    flex-direction: column;
    @include md {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include lg {
        flex-direction: row;
        flex-wrap: wrap;
    } 
}

.article-block {
    display: flex;
    background-color: $light-purple;
    box-shadow: 0 1px 1px rgba(42, 48, 54, 0.3);
    width: 576px;
    padding-top: 22px; padding-bottom: 22px; padding-left: 76px;
    justify-content: space-between;
    align-items: center;
    margin-right: 17px;
    margin-bottom: 29px;
}

.article-block__wrapper {
    padding: 15px;
}

.article-block__body {
    color: $word-purple;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    align-items: Center;
    vertical-align: Top;
    text-decoration: none;
}

.article-block__image {
    padding-left: 0px;
}
