.confirm-block__section {
    padding-top: 127px;
    padding-bottom: 69px;
    @include md {
        padding-bottom: 112px;
        padding-top: 86px;
    }
    @include lg {
        padding-bottom: 146px;
    } 
}

.check {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-circle__image {
    padding-bottom: 85px;
    @include md {
      width: 192px;
      padding-bottom: 90px;
    }
}

.confirm__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.confirm__body {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.steps__image {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  @include md {
    display: none;
  }
  @include lg {
    display: none;
    }
}

.steps2__image {
  display: none;
  @include md {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  }
  @include lg {
    display: none;
    }
}

.steps3__image {
  display: none;
  @include md {
    display: none;
  }
  @include lg {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    }
}

.confirm-block__image {
  padding-bottom: 226px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}