.events-block__section {
    padding-bottom: 146px;
    @include md {
        display: none;
    }
    @include lg {
        padding-bottom: 146px;
    } 
}

.events-block__grid {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: Z;
    @include md {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    @include lg {
        flex-direction: row;
        flex-wrap: wrap;
    } 
}

.events-block__title {
    background-color: $purple;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $white;
    padding-bottom: 12px;
    padding-top: 12px;
    @include md {
        font-size: 40px;
        line-height: 48px;
    }
    @include lg {
        font-size: 70px;
        line-height: 77px;
    }
}

.events-block__image {
    padding-bottom: 27px;
    margin-left: 34px;
    margin-right: 34px;
    justify-content: space-between;
    display: flex;
    @include md {
        vertical-align: auto;
        padding-bottom: 16px; 
    }
    @include lg {
        padding: 30px;
    }
}

.events-block__body {
    color: $purple;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    vertical-align: Top;
    text-decoration: none;
    text-align: center;
    padding-right: 15px;
    display: flex;
    align-items: center;
    @include md {
        display: none;
    }
    @include lg {
        font-size: 22px;
    }
}

.events-block1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.events-block2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.events-block3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}