.hero {
    background-image: url('../img/mission.jpg');
    background-position: center;
    background-size: cover;
    height: 262px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include md {
        height: 515px;
    }
    @include lg {
        height: 686px;
    }
}

.hero__heading {
    color: $white;
    font-size: 28px;
    @include md {
        font-size: 33px;
    }
    @include lg {
        font-size: 38px;
    }
}

.hero__button {
    color: $white;
    align-content: center;
    display: block;
    margin-top: 5px;
    text-decoration: none;
    background-color: $purple;
    padding: 10px 30px;
    border-radius: 8px;
    width: fit-content;
}