.sub-header {
    padding-top: 17px; padding-left: 20px; padding-right: 40px; padding-bottom: 12px;
    display: flex;
    align-items: center;
    @include md {
        padding-top:0px;
        margin: auto;
    }
    @include lg {
        padding-top: 0px;
    }
}

.sub-header__logo {
    width: 23px;
    grid-area: auto;
    @include md {
        width: 25px;
    }
    @include lg {
        width: 29px;
    }
}

.sub-header__link {
    color: $black;
    font-size: 16px;
    text-decoration: none;
    margin: 16px;
    @include md {
        font-size: 18px;
        margin: 33px;
    }
    @include lg {
        font-size: 20px;
        margin: 38px;
    }
}