.sub-header {
    padding-top: 40px; padding-left: 16px; padding-right: 309px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-header__logo {
    width: 23px;
}

.sub-header__link {
    color: $black;
    font-size: 14px;
    text-decoration: none;
    @include md {
        font-size: 16px;
    }
}